# Project files
.idea/

# Protoc files
out/
out2/
tmp/
/pogo/assist.py
*.pyc

# Backup files
*~

# Autogen Files
temp_out
output.txt
proto_import.txt
proto_index.txt
proto_missing.txt
proto_types.txt
